.project-card {
    background: linear-gradient(160deg, #000a11 0%, var(--darkBlue) 100%);
    opacity: 0.8;
    cursor: pointer;
}

.view_more {
    text-align: left !important;
    background-clip: text;
    background-image: linear-gradient(160deg, #0d5483 0%, var(--darkBlue) 100%);

}