#skills {
  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(
    225deg,
    rgba(14, 17, 108, 0) 0%,
    hsla(0, 0%, 0%, 1) 70%
  );

  background: -moz-linear-gradient(
    225deg,
    rgba(14, 17, 108, 0) 0%,
    hsla(0, 0%, 0%, 1) 70%
  );

  background: -webkit-linear-gradient(
    225deg,
    rgba(14, 17, 108, 0) 0%,
    hsla(0, 0%, 0%, 1) 70%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#0E116E", GradientType=1 );
}
